@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@custom-variant dark (&:where(.dark, .dark *));

#navbarSupportedContent {
    text-align: right;
    display: flex;
}

.first-p {
    align-items: center;
    background-color: rgb(244, 244, 244);
    border-radius: 10%;
    box-shadow: 3px 3px 15px;
    font-size: 16px;
    justify-content: space-between;
    margin: 10% 1% 1% 10%;
    text-align: center;
    max-width: 300px;
    min-height: 250px;
}e

.logo img {
    width: auto;
    max-height: 40px;
    border-radius: 20%;
}

section.logo {
    padding: 13px 20px;
}

#github {
    vertical-align: middle;
    width: 30px;
}