@import "tailwindcss";
@import "flowbite/src/themes/default";
@custom-variant dark (&:where(.dark, .dark *));

dialog {
  margin: 0;
};

dialog[open] {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(70%, 600px);
  border: none;
  border-radius: 8px;
  padding: 1rem;
}
dialog::backdrop {
  background: rgba(0,0,0,0.4);
}

/* Barra de rolagem */
body::-webkit-scrollbar {
  width: none;
  background-color: none;
  border-top-left-radius: none;
  border-bottom-left-radius: none;
}

.modal-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.modal-scrollbar::-webkit-scrollbar-thumb {
  background-color: gray;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.h-scrollbar-jornada::-webkit-scrollbar {
  height: 10px;
}

.h-scrollbar-jornada::-webkit-scrollbar-thumb {
  background-color: oklch(54.1% 0.281 293.009);
  border-radius: 5px;
}

/* Modal */

.modais {
  background-color: #fdf9ee;
}

.fechar-modal {
  cursor: pointer;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;    
}

.modal-header > h1 {
  font-size: 28px;
  font-weight: 600;
}

.modal-imagem {
  border: solid lightgray 2px;
  border-radius: 16px;
  margin: 20px 0 20px 0;
}

.modal-body {
  text-align: justify;
  display: grid;
  gap: 2px;
}

.modal-body > h2 {
  font-size: 1.2rem;
  font-weight: 600;
  border-bottom: solid lightgray 2px;
}

.modal-body > p {
  margin-bottom: 10px;
}

/* h2 do modal-body */
.subtitulos {
  margin-bottom: 10px;
}

.modal-badges > h2 {
  font-size: 1.2rem;
  font-weight: 600;
  border-bottom: solid lightgray 2px;
}

.modal-badges img {
  margin: 10px 0 24px 0;
}

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.modal-footer > a {
  align-items: center;
  font-weight: 500;
  margin-left: 3px;
}

#modal-footer-fincash {
  color: rgb(7, 87, 7);
}

#modal-footer-omni {
  color: rgb(60, 140, 214)
}
#modal-footer-casa {
  color: rgb(221, 70, 214);
}

.modal-footer a:hover {
  align-items: center;
  text-decoration: underline;
}

/* Responsividade */

/* Modal */
@media (max-width: 600px) {
  .modais {height: 660px;}
  .modais::-webkit-scrollbar { width: 5px;}
  .modal-header > h1 {font-size: 1.3rem;} 
  .modal-header > span {font-size: 0.7rem;} 
  .modal-footer {display: block!important;}
  .abrir-modal > span {padding-top: 10px; padding-bottom: 11px;}
}